@font-face {
    font-family: 'Tomato Condensed';
    src: url('../fonts/Tomato-Round-Condensed.woff2') format('woff2'),
        url('../fonts/Tomato-Round-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomato Oblique';
    src: url('../fonts/Tomato-Round-Condensed-Oblique.woff2') format('woff2'),
        url('../fonts/Tomato-Round-Condensed-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomato Condensed';
    src: url('../fonts/Tomato-Round-Condensed-Thin.woff2') format('woff2'),
        url('../fonts/Tomato-Round-Condensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

